hr{
  width: auto;
}
body{
 justify-items: center;
 background-color: white;
 font-family:'Times New Roman',Times, serif;
}
.head{
  height: 1000px;
  width:  100%
}
.img1{
  height: 400px;
  width:  100%;
  padding: 10px;
}
.img2{
  height: 300px;
  width:  100%;
  padding: 20px;
}
.img3{
  height: 450px;
  width:  100%;
  padding: 10px;
}
.img4{
  height: 400px;
  width:  100%;
  padding: 10px;
}
.a{
  max-width: 100px;
}
